html, body{
    background-color: #0a559e !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23082e52' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.nav{
    z-index: 10 !important;
    height: auto;
    font-size: 1.5em;
    color: #0a559e;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.72);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.72);
    padding: 0px;
    background-color: white;
    width: 100%;
}

.nav-list{
    margin-top: 5px;
    float: top;
}

.nav-item, .nav-item a{
    display: inline-block;
    color: #0a559e !important;
    text-decoration: none;
    margin-right: 15px;
}

.nav-item-right{
    position: absolute;
    right: 0;
    top: 7px;
}

body{
    overflow-y: hidden;
}

body, .row{
    height: 100%;
    width: 100%;
    position: relative;
}

.input-block-parent{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-50%);
}

.input-block{
    background-color: white;
    border-radius: 5px;
    height: auto;
    
    font-size: 1.4em;
    text-align: center;
}


.input-block form input{
    width: 300px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.input-block form input::placeholder{
    color: lightgrey;
}

.input-block #login #email{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
} 

.input-block form .go{
    width: 50%;
    border: none;
    color: grey;
    margin-bottom: 0px;
}

.go{
    color: lightgrey !important;
    transition: .2s linear color;
}

.go:hover{
    cursor: pointer;
    color: grey !important;
}

.input-block form input{
    display: block;
}

.input-block form input:focus{
    outline: none;
}

.warning-block{
    height: auto;
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #e74c3c;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    display: none;
    margin-top: 10px;
}

.success-block{
    height: auto;
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #2ecc71;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    display: none;
}

.action-link-wrapper{
    color: white !important;
    text-align: center;
}

.action-link{
    font-size: 1em;
    color: white !important;
    text-align: center;
}

.side-bar{
    height: 100%;
    background-color: #ecf0f1;
    z-index: 1 !important;
    border-top: 1px solid grey;
    -webkit-box-shadow: 13px 0px 28px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 0px 28px -10px rgba(0,0,0,0.75);
    box-shadow: 13px 0px 28px -10px rgba(0,0,0,0.75);
}

.side-bar-link{
    color: grey !important;
    display: block;
    font-size: 1.2em;
    margin: 5px;
    transition: .2s linear color;
}

.side-bar-link:hover{
    cursor: pointer;
    color: black !important;
}

.ipane{
    height: 100%;
    display: inline-block;
    padding: 0px !important;
    vertical-align: top;
}

.point-count{
    height: 200px;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    vertical-align: top;
}

.transaction-history{
    height: 430px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    position: relative;
}

.center-block{
    margin: 0 !important;
    text-align: center;
}

.social-feed{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.events-feed{
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}

.mb{
    margin-right: 10px;
}

.progress-bar-outer{
    width: 100% !important;
    height: 30px;
    text-align: center;
}

.progress-bar{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #bdc3c7 !important;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.progress-bar-inner{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    background-color: #2ecc71 !important;
    padding: 0px;
    position: absolute;
    transition: .2s linear background-color;
}

.progress-bar-inner:hover{
    background-color: #57D68D !important;
    cursor: pointer;
}

.ul{
    text-decoration: underline;
}

.incentive, .donation{
    list-style: none;
    width: 100% !important;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.donation-check{
    position: absolute;
    left: 0;
    font-size: 1.1em;
    color: #2ecc71;
    margin-left: 40px;
}

.incentive-trophy{
    position: absolute;
    left: 0;
    font-size: 1.1em;
    color: #f1c40f;
    margin-left: 40px;
}

.incentive-trophy .mt{
    font-size: .6em;
}

.donation-check .mt{
    font-size: .6em;
}

.donation-interact{
    position: absolute;
    right: 0;
    margin-right: 40px;
}

.donation-interact:hover{
    cursor: pointer;
}


.donation-interactions{
    display: none;
}
.sub-pane{
    display: inline-block;
    height: 230px;
    vertical-align: top;
}

.admin-pane{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    height: 150px;
    width: 100%;
}

.add-donation-inp{
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
}

.verify-donation-inp{
    width: 20%;
    border: none;
    border-bottom: 1px solid grey;
}

.add-donation-inp:focus{
    outline: none;
}

.btn:hover{
    cursor: pointer;
}

#add-gear, #redeem-gear{
    display: none;
}

.user-list{
    height: 260px;
    overflow-y: scroll;
}

.user{
    border-bottom: 1px solid grey;
}

.user-fixed{
    border-bottom: 1px solid black;
}

.user-list-entry{
    display: inline-block;
}

.fname-e, .lname-e, .pnum-e{
    width: 15%;
    overflow-x: scroll;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin: 0 !important;
    text-align: center;
}

.clothes-e, .furniture-e, .books-e, .electronics-e, .other-e, .avg-cost-e{
    width: 8%;
    margin: 0;
    overflow-x: scroll;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin: 0 !important;
    text-align: center;
}
