<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
    </head>
    <body>
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="http://www.goodwill.org/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Goodwill_Industries_Logo.svg/200px-Goodwill_Industries_Logo.svg.png" style="height: 40px">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a href="#faq">FAQ</a>
                </li>
            </ul>
        </div>

        <div class="row main-interaction">
            <div class="col-md-2 side-bar">
                <a class="side-bar-link">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="mb"> </span>
                    My Profile
                </a>
                <a class="side-bar-link">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <span class="mb"> </span>
                    Reset Pass
                </a>
                <a class="side-bar-link">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <span class="mb"> </span>
                    History
                </a>
            </div>
            <div class="col-md-10 center-block">
                <div class="col-md-7 ipane">
                    <div class="point-count">
                        Point count will go here
                    </div>
                    <div class="transaction-history">
                        <ul>
                            <li>List</li>
                            <li>of</li>
                            <li>Transactions</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 ipane">
                    <div class="social-feed">
                        Social media feed will go here
                    </div>
                    <div class="events-feed">
                        List of events will go here
                    </div>

                </div>
            </div>
        </div>
    </body>
    <footer>
        <script>
            var bar = new ProgressBar.Line(container, {
            strokeWidth: 4,
            easing: 'easeInOut',
            duration: 1400,
            color: '#FFEA82',
            trailColor: '#eee',
            trailWidth: 1,
            svgStyle: {width: '100%', height: '100%'},
            text: {
            style: {
              // Text color.
              // Default: same as stroke color (options.color)
              color: '#999',
              position: 'absolute',
              right: '0',
              top: '30px',
              padding: 0,
              margin: 0,
              transform: null
            },
            autoStyleContainer: false
            },
            from: {color: '#FFEA82'},
            to: {color: '#ED6A5A'},
            step: (state, bar) => {
                bar.setText(Math.round(bar.value() * 100) + ' %');
            }
            });

            bar.animate(1.0);
        </script>
    </footer>
</html>