<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
		<script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/login.js')}}">
        </script>
    </head>
    <body>
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="http://www.goodwill.org/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Goodwill_Industries_Logo.svg/200px-Goodwill_Industries_Logo.svg.png" style="height: 40px">
                    </a>
                    <h2 style="display: inline-block;">GoodWill Connect</h2>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row">

                <div class="input-block-parent" style="text-align: center;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Goodwill_Industries_Logo.svg/200px-Goodwill_Industries_Logo.svg.png" style="height: 100px; margin: 0 auto;">
                    <div class="input-block login">
                        <form id="login">
                            <input type="email" placeholder="Email Address"
                                   id="email"/>
                            <input type="password" placeholder="Password"
                                   id="pass"/>
                            <button class="go">
                                Login
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
					<div class="warning-block" id="acct-dne">
                     Email/Password do not match
                    </div>
                    
                    <div class="action-link-wrapper">
                        <a class="action-link" href="/register">
                            Register <i class="fa fa-cogs" aria-hidden="true">
                            </i>
                        </a>
                        |
                        <a class="action-link" href="/forgot_password">
                            Forgot Password
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>