<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
    </head>
    <body>
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="http://www.goodwill.org/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Goodwill_Industries_Logo.svg/200px-Goodwill_Industries_Logo.svg.png" style="height: 40px">
                    </a>
                    <h2 style="display: inline-block;">Goodwill Connect</h2>
                </li>
            </ul>
        </div>

        <div class="container">
            <div class="row">
                <!-- CONTENT GOES HERE -->
            </div>
        </div>
    </body>
</html>